<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
        crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous" defer>
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous" defer>
    </script>

    <script th:src="@{/js/delete-bundle.js}" defer></script>
    <script th:src="@{/js/searchModal-bundle.js}" defer></script>

    <style>
        table {
            border-collapse: separate;
            border-spacing:0 15px;
        }
        .date-row {
            color: white;
            font-weight: bold;
        }
    </style>

    <title>Document</title>
</head>

<body>
    <div class="container p-2" th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/payment}">STRONA GŁÓWNA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/payment/add}">DODAJ WPIS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" type="button" data-toggle="modal" data-target="#search-modal">
                            SZUKAJ
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{~/payment/summary}">PODSUMOWANIE</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <span th:insert="modal::search-modal"></span>

    <div class="container p-55">
        <table class="table table-striped">
            <thead class="thead-dark">
                <th>Id</th>
                <th>Kategoria</th>
                <th>Podkategoria</th>
                <th>Kwota</th>
                <!-- <th>Data</th> -->
                <th></th>
            </thead>
                <span th:each="day : ${#numbers.sequence(yearMonth.lengthOfMonth(), 1, -1)}">
                    <tbody th:if="!${paymentProxy.getPaymentsForDay(day).isEmpty()}">
                        <tr class="bg-secondary">
                            <td th:text="${day} + ' ' + ${yearMonth.getMonth()}" colspan="6" class="date-row"></td>
                        </tr>
                        <tr th:each="payment, iStat : ${paymentProxy.getPaymentsForDay(day)}">
                            <td th:text="${iStat.count}"></td>
                            <td>
                                <a th:href="'payment?category=' + ${payment.category}" th:text="${payment.category}"></a>
                            </td>
                            <td>
                                <a th:href="'payment?subcategory=' + ${payment.subcategory}" th:text="${payment.subcategory}"></a>
                            </td>
                            <td th:text="${#numbers.formatDecimal(payment.amount, 1, 2, 'POINT')} + ' zł'"></td>
                            <!-- <td th:text="${#temporals.format(payment.date, 'dd-MM-YY')}"></td> -->
                            <td><button th:id="${payment.id}" class="remove-buttons btn btn-outline-danger">USUN</button></td>
                        </tr>
                        <tr class="bg-info">
                            <td colspan="3" class="date-row">Łącznie: </td>
                            <td th:text="${#numbers.formatDecimal(daySummary.get(day), 1, 2, 'POINT')} + ' zł'" colspan="2" class="date-row"></td>
                        </tr>
                    </tbody>
                </span>
        </table>
    </div>

</body>
</html>